@use '../../color';

.intro {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 30px;
}

.picture {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    background-color: color.$darkTintLight;

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        content: 'Change';
        opacity: 0;
        transition: opacity .1s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
    }

    &:hover::after {
        opacity: 1;
    }
}

.introInfo {
    margin-bottom: 10px;
}