@use '../color';

.default {
    border-radius: 15px;
    text-align: center;
    outline: none;
    border: none;
    font-size: 1.25rem;
    display: flex;
    cursor: pointer;

    span {
        width: 100%;
        text-align: center;
    }

    background: color.$dark;
    color: color.$light;

    @media (prefers-color-scheme: dark) {
        background: color.$light;
        color: color.$dark;
    }

    transition: color .2s ease, background .2s ease;

    &[disabled] {
        cursor: not-allowed;
    }
}

// COLORS

.colorTint {
    background: linear-gradient(86.35deg, #FA9F38 -1.28%, color.$tint 21.32%, #DB7706 115.98%) !important;
    color: color.$light !important;
}

.colorLight {
    background: color.$light !important;
    color: color.$dark !important;
}

.colorDark {
    background: color.$dark !important;
    color: color.$light !important;
}

.colorTransparent {
    background: transparent !important;
    color: color.$dark !important;

    @media (prefers-color-scheme: dark) {
        color: color.$light !important;
    }
}

// ICON PROPERTIES

.iconRound {
    img {
        border-radius: 50%;
    }
}

// SMALL BUTTONS

.smallText {
    min-width: 90px;
    padding: 0px 15px;
    height: 40px;
    line-height: 40px;
    font-size: 1.2rem;
}

.smallIcon {
    width: 40px;
    height: 40px;
    padding: 0px;
}

.smallTextIcon {
    min-width: 140px;
    padding: 0px 10px;
    height: 40px;
    line-height: 40px;
    font-size: 1.2rem;

    span {
        padding-right: 20px;
    }
}

.iconSmall {
    min-width: 40px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 25px !important;
        height: 25px !important;
    }
}

// LARGE BUTTONS

.largeText {
    min-width: 110px;
    padding: 0px 20px;
    height: 50px;
    line-height: 50px;
}

.largeIcon {
    width: 50px;
    height: 50px;
    padding: 0px;
}

.largeTextIcon {
    min-width: 180px;
    padding: 0px 10px 0px 10px;
    height: 50px;
    line-height: 50px;

    span {
        padding-right: 20px;
    }
}

.iconLarge {
    min-width: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 35px !important;
        height: 35px !important;
    }
}