@use '../color';

.sectionTitle {
    margin: 10px 30px 20px;
}

.fflags {
    margin: 10px 0px 50px;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: color.$darkTintLight;

    &:nth-child(even) {
        background-color: color.$dark;
    }

    & h4 {
        margin: 0px;
    }
}