@use '../../../color';

.iconDropdown {
    display: flex;
    align-items: center;
    gap: 15px;
}

.iconButton {
    width: 50px;
    height: 50px;
    background-color: color.$dark;
    color: color.$light;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-radius .2s ease;

    &:hover {
        border-radius: 15px;
    }

    @media (prefers-color-scheme: dark) {
        background-color: color.$darkTintLight;
    }
}

.iconButtonActive {
    border-radius: 15px;
}

.arrow {
    transition: transform .2s ease;
}

.rotateArrow {
    transform: rotate(180deg);
}